body {
  background-color: #00897b;
}
Menu {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.top-nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

ul {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 10px !important;
}

.ant-menu::after {
  content: none !important;
}
.ant-menu::before {
  content: none !important;
}
.user-nav {
  display: flex;
}

.square {
  border-radius: 0px;
}
.jumbotron {
  padding-top: 15vh;
  color: #fff;
  /* padding: 40px; */
}
.delete-icon {
  cursor: pointer;
}

.hero-container {
  background-image: url("../assets/hero.jpg");
  box-sizing: border-box;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-layout {
  background-color: #00897bae;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}
.image-logo {
  width: 150px;
}
.left-btn {
  margin-right: 30px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  /* justify-content: center; */
}
.user-profile :hover {
}
